@use '$/styles/media-queries' as *;

.container {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto 1fr;
  gap: 2rem;
  max-height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem 0rem 1rem;

  @include gt-md {
    padding: 2rem 2rem 0rem 2rem;
  }
}

.section {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  padding: 0rem 2rem 2rem 2rem;
  gap: 2rem;
  overflow: auto;
}

.linksSection {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
