// <-- Screen sizes -->

// base
$screen-base-min: 0px;
$screen-base-max: 599px;

// xs
$screen-xs-min: 600px;
$screen-xs-max: 959px;

// sm
$screen-sm-min: 960px;
$screen-sm-max: 1279px;

// md
$screen-md-min: 1280px;
$screen-md-max: 1535px;

// lg
$screen-lg-min: 1536px;
$screen-lg-max: 1919px;

// xl
$screen-xl-min: 1920px;

// <-- Between queries -->

@mixin base {
  @media screen and (max-width: #{$screen-base-max}) and (max-width: #{$screen-base-max}) {
    @content;
  }
}

@mixin xs {
  @media screen and (max-width: #{$screen-xs-min}) and (max-width: #{$screen-xs-max}) {
    @content;
  }
}

@mixin sm {
  @media screen and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max}) {
    @content;
  }
}

@mixin md {
  @media screen and (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max}) {
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: #{$screen-lg-min}) and (max-width: #{$screen-lg-max}) {
    @content;
  }
}

@mixin xl {
  @media screen and (min-width: #{$screen-xl-min}) {
    @content;
  }
}

// <-- Less than queries -->

@mixin lt-xs {
  @media screen and (max-width: #{$screen-base-max}) {
    @content;
  }
}

@mixin lt-sm {
  @media screen and (max-width: #{$screen-xs-max}) {
    @content;
  }
}

@mixin lt-md {
  @media screen and (max-width: #{$screen-sm-max}) {
    @content;
  }
}

@mixin lt-lg {
  @media screen and (max-width: #{$screen-md-max}) {
    @content;
  }
}

@mixin lt-xl {
  @media screen and (max-width: #{$screen-lg-max}) {
    @content;
  }
}

// <-- Greater than queries -->

@mixin gt-base {
  @media screen and (min-width: #{$screen-base-min}) {
    @content;
  }
}

@mixin gt-xs {
  @media screen and (min-width: #{$screen-sm-min}) {
    @content;
  }
}

@mixin gt-sm {
  @media screen and (min-width: #{$screen-md-min}) {
    @content;
  }
}

@mixin gt-md {
  @media screen and (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin gt-lg {
  @media screen and (min-width: #{$screen-xl-min}) {
    @content;
  }
}
