@use 'colors' as *;

:export {
  red50: $red-50;
  red100: $red-100;
  red200: $red-200;
  red300: $red-300;
  red400: $red-400;
  red500: $red-500;
  red600: $red-600;
  red700: $red-700;
  red800: $red-800;
  red900: $red-900;
  redA100: $red-A100;
  redA200: $red-A200;
  redA400: $red-A400;
  redA700: $red-A700;
  pink50: $pink-50;
  pink100: $pink-100;
  pink200: $pink-200;
  pink300: $pink-300;
  pink400: $pink-400;
  pink500: $pink-500;
  pink600: $pink-600;
  pink700: $pink-700;
  pink800: $pink-800;
  pink900: $pink-900;
  pinkA100: $pink-A100;
  pinkA200: $pink-A200;
  pinkA400: $pink-A400;
  pinkA700: $pink-A700;
  purple50: $purple-50;
  purple100: $purple-100;
  purple200: $purple-200;
  purple300: $purple-300;
  purple400: $purple-400;
  purple500: $purple-500;
  purple600: $purple-600;
  purple700: $purple-700;
  purple800: $purple-800;
  purple900: $purple-900;
  purpleA100: $purple-A100;
  purpleA200: $purple-A200;
  purpleA400: $purple-A400;
  purpleA700: $purple-A700;
  deepPurple50: $deepPurple-50;
  deepPurple100: $deepPurple-100;
  deepPurple200: $deepPurple-200;
  deepPurple300: $deepPurple-300;
  deepPurple400: $deepPurple-400;
  deepPurple500: $deepPurple-500;
  deepPurple600: $deepPurple-600;
  deepPurple700: $deepPurple-700;
  deepPurple800: $deepPurple-800;
  deepPurple900: $deepPurple-900;
  deepPurpleA100: $deepPurple-A100;
  deepPurpleA200: $deepPurple-A200;
  deepPurpleA400: $deepPurple-A400;
  deepPurpleA700: $deepPurple-A700;
  indigo50: $indigo-50;
  indigo100: $indigo-100;
  indigo200: $indigo-200;
  indigo300: $indigo-300;
  indigo400: $indigo-400;
  indigo500: $indigo-500;
  indigo600: $indigo-600;
  indigo700: $indigo-700;
  indigo800: $indigo-800;
  indigo900: $indigo-900;
  indigoA100: $indigo-A100;
  indigoA200: $indigo-A200;
  indigoA400: $indigo-A400;
  indigoA700: $indigo-A700;
  blue50: $blue-50;
  blue100: $blue-100;
  blue200: $blue-200;
  blue300: $blue-300;
  blue400: $blue-400;
  blue500: $blue-500;
  blue600: $blue-600;
  blue700: $blue-700;
  blue800: $blue-800;
  blue900: $blue-900;
  blueA100: $blue-A100;
  blueA200: $blue-A200;
  blueA400: $blue-A400;
  blueA700: $blue-A700;
  lightBlue50: $lightBlue-50;
  lightBlue100: $lightBlue-100;
  lightBlue200: $lightBlue-200;
  lightBlue300: $lightBlue-300;
  lightBlue400: $lightBlue-400;
  lightBlue500: $lightBlue-500;
  lightBlue600: $lightBlue-600;
  lightBlue700: $lightBlue-700;
  lightBlue800: $lightBlue-800;
  lightBlue900: $lightBlue-900;
  lightBlueA100: $lightBlue-A100;
  lightBlueA200: $lightBlue-A200;
  lightBlueA400: $lightBlue-A400;
  lightBlueA700: $lightBlue-A700;
  cyan50: $cyan-50;
  cyan100: $cyan-100;
  cyan200: $cyan-200;
  cyan300: $cyan-300;
  cyan400: $cyan-400;
  cyan500: $cyan-500;
  cyan600: $cyan-600;
  cyan700: $cyan-700;
  cyan800: $cyan-800;
  cyan900: $cyan-900;
  cyanA100: $cyan-A100;
  cyanA200: $cyan-A200;
  cyanA400: $cyan-A400;
  cyanA700: $cyan-A700;
  teal50: $teal-50;
  teal100: $teal-100;
  teal200: $teal-200;
  teal300: $teal-300;
  teal400: $teal-400;
  teal500: $teal-500;
  teal600: $teal-600;
  teal700: $teal-700;
  teal800: $teal-800;
  teal900: $teal-900;
  tealA100: $teal-A100;
  tealA200: $teal-A200;
  tealA400: $teal-A400;
  tealA700: $teal-A700;
  green50: $green-50;
  green100: $green-100;
  green200: $green-200;
  green300: $green-300;
  green400: $green-400;
  green500: $green-500;
  green600: $green-600;
  green700: $green-700;
  green800: $green-800;
  green900: $green-900;
  greenA100: $green-A100;
  greenA200: $green-A200;
  greenA400: $green-A400;
  greenA700: $green-A700;
  lightGreen50: $lightGreen-50;
  lightGreen100: $lightGreen-100;
  lightGreen200: $lightGreen-200;
  lightGreen300: $lightGreen-300;
  lightGreen400: $lightGreen-400;
  lightGreen500: $lightGreen-500;
  lightGreen600: $lightGreen-600;
  lightGreen700: $lightGreen-700;
  lightGreen800: $lightGreen-800;
  lightGreen900: $lightGreen-900;
  lightGreenA100: $lightGreen-A100;
  lightGreenA200: $lightGreen-A200;
  lightGreenA400: $lightGreen-A400;
  lightGreenA700: $lightGreen-A700;
  lime50: $lime-50;
  lime100: $lime-100;
  lime200: $lime-200;
  lime300: $lime-300;
  lime400: $lime-400;
  lime500: $lime-500;
  lime600: $lime-600;
  lime700: $lime-700;
  lime800: $lime-800;
  lime900: $lime-900;
  limeA100: $lime-A100;
  limeA200: $lime-A200;
  limeA400: $lime-A400;
  limeA700: $lime-A700;
  yellow50: $yellow-50;
  yellow100: $yellow-100;
  yellow200: $yellow-200;
  yellow300: $yellow-300;
  yellow400: $yellow-400;
  yellow500: $yellow-500;
  yellow600: $yellow-600;
  yellow700: $yellow-700;
  yellow800: $yellow-800;
  yellow900: $yellow-900;
  yellowA100: $yellow-A100;
  yellowA200: $yellow-A200;
  yellowA400: $yellow-A400;
  yellowA700: $yellow-A700;
  amber50: $amber-50;
  amber100: $amber-100;
  amber200: $amber-200;
  amber300: $amber-300;
  amber400: $amber-400;
  amber500: $amber-500;
  amber600: $amber-600;
  amber700: $amber-700;
  amber800: $amber-800;
  amber900: $amber-900;
  amberA100: $amber-A100;
  amberA200: $amber-A200;
  amberA400: $amber-A400;
  amberA700: $amber-A700;
  orange50: $orange-50;
  orange100: $orange-100;
  orange200: $orange-200;
  orange300: $orange-300;
  orange400: $orange-400;
  orange500: $orange-500;
  orange600: $orange-600;
  orange700: $orange-700;
  orange800: $orange-800;
  orange900: $orange-900;
  orangeA100: $orange-A100;
  orangeA200: $orange-A200;
  orangeA400: $orange-A400;
  orangeA700: $orange-A700;
  deepOrange50: $deepOrange-50;
  deepOrange100: $deepOrange-100;
  deepOrange200: $deepOrange-200;
  deepOrange300: $deepOrange-300;
  deepOrange400: $deepOrange-400;
  deepOrange500: $deepOrange-500;
  deepOrange600: $deepOrange-600;
  deepOrange700: $deepOrange-700;
  deepOrange800: $deepOrange-800;
  deepOrange900: $deepOrange-900;
  deepOrangeA100: $deepOrange-A100;
  deepOrangeA200: $deepOrange-A200;
  deepOrangeA400: $deepOrange-A400;
  deepOrangeA700: $deepOrange-A700;
  brown50: $brown-50;
  brown100: $brown-100;
  brown200: $brown-200;
  brown300: $brown-300;
  brown400: $brown-400;
  brown500: $brown-500;
  brown600: $brown-600;
  brown700: $brown-700;
  brown800: $brown-800;
  brown900: $brown-900;
  grey50: $grey-50;
  grey100: $grey-100;
  grey200: $grey-200;
  grey300: $grey-300;
  grey400: $grey-400;
  grey500: $grey-500;
  grey600: $grey-600;
  grey700: $grey-700;
  grey800: $grey-800;
  grey900: $grey-900;
  blueGrey50: $blueGrey-50;
  blueGrey100: $blueGrey-100;
  blueGrey200: $blueGrey-200;
  blueGrey300: $blueGrey-300;
  blueGrey400: $blueGrey-400;
  blueGrey500: $blueGrey-500;
  blueGrey600: $blueGrey-600;
  blueGrey700: $blueGrey-700;
  blueGrey800: $blueGrey-800;
  blueGrey900: $blueGrey-900;
}
