.form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto minmax(0, 1fr);
  gap: 2rem;
  height: inherit;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem 0rem 2rem;
  gap: 8rem;
}
