@use '$/styles/media-queries' as *;

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.alertContainer {
  display: flex;
  justify-content: center;
}

.closeButtonContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  padding: 1rem 1rem 0rem 1rem;

  @include gt-md {
    padding: 2rem 2rem 0rem 2rem;
  }
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0rem 2rem 1rem 2rem;

  @include gt-md {
    padding: 0rem 2rem 4rem 2rem;
  }
}

.buttonContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
}

.containerResult {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 4rem;
  gap: 10rem;
}

.days {
  font-weight: 800;
}
