@use '$/styles/colors' as *;

.sidebar {
  border-right: solid 0.2rem $gray-900;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  row-gap: 2rem;
}

.link {
  color: inherit;
  text-decoration: none;
  display: flex;
  justify-content: center;
  width: 100%;
}

.heading {
  span {
    color: $blue-600;
  }
}
