@use '$/styles/colors' as *;
@use '$/styles/media-queries' as *;

.sidebar {
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1.5rem;
  row-gap: 1rem;

  @include gt-md {
    padding: 1rem 2rem;
    row-gap: 1.5rem;
  }

  @include gt-lg {
    padding: 1rem 2rem;
    row-gap: 2rem;
  }
}

.link {
  color: inherit;
  text-decoration: none;
  display: flex;
  justify-content: center;
  width: 100%;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.heading {
  @include gt-lg {
    padding-bottom: 0.5rem;
  }

  span {
    color: $blue-600;
  }
}
