@use '$/styles/colors' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.heading {
  span {
    color: $blue-400;
  }
}

.subHeading {
}
