@use '$/styles/colors' as *;
@use '$/styles/media-queries' as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section {
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0rem 3rem;
}

.heading {
  span {
    color: $blue-600;
  }
}

.header {
  padding: 1rem 1rem 0rem 1rem;

  @include gt-md {
    padding: 2rem 2rem 0rem 2rem;
  }
}

.quantity {
  color: $orange-500;
}
